.page-home {

    .slide-image {

    }

    .double_img {
        width: 30%;
        padding: 15px;
    }

    .demo {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        text-align: center;
    }

}
